services:
  EasyHub-gateway:
    image: ${EASYHUB_IMAGE:-EasyHub:local}
    environment:
      HOME: /home/node
      TERM: xterm-256color
      EASYHUB_GATEWAY_TOKEN: ${EASYHUB_GATEWAY_TOKEN}
      CLAUDE_AI_SESSION_KEY: ${CLAUDE_AI_SESSION_KEY}
      CLAUDE_WEB_SESSION_KEY: ${CLAUDE_WEB_SESSION_KEY}
      CLAUDE_WEB_COOKIE: ${CLAUDE_WEB_COOKIE}
    volumes:
      - ${EASYHUB_CONFIG_DIR}:/home/node/.EasyHub
      - ${EASYHUB_WORKSPACE_DIR}:/home/node/.easyhub/workspace
    ports:
      - "${EASYHUB_GATEWAY_PORT:-18789}:18789"
      - "${EASYHUB_BRIDGE_PORT:-18790}:18790"
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
        "${EASYHUB_GATEWAY_BIND:-lan}",
        "--port",
        "18789",
      ]

  EasyHub-cli:
    image: ${EASYHUB_IMAGE:-EasyHub:local}
    environment:
      HOME: /home/node
      TERM: xterm-256color
      EASYHUB_GATEWAY_TOKEN: ${EASYHUB_GATEWAY_TOKEN}
      BROWSER: echo
      CLAUDE_AI_SESSION_KEY: ${CLAUDE_AI_SESSION_KEY}
      CLAUDE_WEB_SESSION_KEY: ${CLAUDE_WEB_SESSION_KEY}
      CLAUDE_WEB_COOKIE: ${CLAUDE_WEB_COOKIE}
    volumes:
      - ${EASYHUB_CONFIG_DIR}:/home/node/.EasyHub
      - ${EASYHUB_WORKSPACE_DIR}:/home/node/.easyhub/workspace
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["node", "dist/index.js"]
