# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
*.swp
.env*.local

# macOS Icon files
Icon
Icon?

# Google Cloud Service Account credentials
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.json
!public/ai/*.json
!public/cafe-game/**/*.json
