{{- if .Values.config.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openclaw.fullname" . }}-config
  namespace: {{ .Values.namespace.name | quote }}
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
type: Opaque
stringData:
  openclaw.json: |-
    {{- tpl .Values.config.json . | nindent 4 }}
{{- end }}
