.shortcut-kbd:where(:not([hidden])) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.shortcut-kbd > span + span {
  margin-inline-start: 0.15em;
}

.kbd__text {
  text-box: trim-both cap alphabetic;
}

.shortcut-kbd::before {
  content: "";
  height: 1lh;
}
