name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Node version
        run: node -v

      - name: Install pnpm
        run: npm install -g pnpm@10.23.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts=false

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build
