name: zizmor

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  zizmor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run zizmor
        uses: zizmorcore/zizmor@v1.11.0
        with:
          config: zizmor.yml
